@font-face {
  font-family: 'IRANSans';
  src: url('./fonts/IRANSansWeb.ttf');
  font-display: block;
}
body {
  margin: 0;
  font-family: 'IRANSans' !important;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none !important;
}
ul {
  list-style: none;
}
